.item-container {
    display: flex;
    flex-direction: row;
    margin-left:auto;
    margin-right:auto;
}

.item-image {
    flex-basis: 40%;
    margin-left: 10px;
    margin-right: auto;
    margin-top: auto;
}

.item-winrate {
    font-size: 20px;
    margin-left: 5px;
}

.winrate-container {
    display:flex;
    align-items:center;
}

.items-container {
    width:250px;
    max-width:250px;
    height: 400px;
    max-height: 400px;
    display: inline-block;
}