.search-container {
    min-height: 350px;
}

.search-bar{
    width:300px;
    height:30px;
    top:50%;
    left:50%;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    background-color: white;
    font-size: 13px;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search-bar-container {
    position:relative;
    margin-bottom:.5vh;
}

.search-icon {
    height:30px;
    width:30px;
    position:absolute;
    bottom:1px;
    left:274px;
    cursor:pointer;
}

.suggestions-container {
    width:300v;
    font-size: 13px;
    max-height: 12vmax;
    display:flex;
    flex-direction: column;
    overflow: auto;
}

.suggestion {
    color:plum;
    cursor:pointer;
    height:1.5vmax;
    display:flex;
    flex-direction: row;
    line-height: 1vh;
}

.suggestion:hover{
    background-color: #282c50;
    color:white;
    
}

.suggestion-text {
    vertical-align:middle;
    border-radius: 5px;
    
}

.suggestion-img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height:90%;
    max-width:13%;
    margin-right:.5vh;
}

input:focus {
    outline:none
}